.App {
  margin: 1% 14%;
  padding: 2% 8% 4% 8%;
  border: 1px solid LightGrey;
}

/* override code mirror */
.CodeMirror {
  font-family: monospace;
  height: 100%;
  color: black;
  direction: ltr;
}
